@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "mixins";


.header {
  @include flex(column, center, center);
  position: relative;
  &__menu {
    @include flex(row, space-around, center);
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 940px) {
      width: 610px;
    }
    @media (max-width: 767px) {
      display: none;
    }
    @media (max-width: 373px) {
      display: none;
    }
  }
  &__menu-link {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #4E4E4E;
    @media (max-width: 767px) {
      font-size: 9px;
    }
    &:hover {
      color: #57A4A4;
    }
  }
  &__burger-toggler {
    display: none;
    cursor: pointer;
    &__line {
      width: 17px;
      height: 2px;
      background-color: #FFFFFF;
      position: absolute;
      top: 13px;
      right: 13px;
      opacity: 1;
      transform: rotate(0);
      transition: all 1s ease;
      transform-origin: 0 1px;
      &:nth-child(2) {
        top: 17px;
      }
      &:nth-child(3) {
        top: 21px;
      }
    }
    @media (max-width: 767px) {
      display: block;
      width: 44px;
      height: 37px;
      background-color: #000000;
      position: absolute;
      top: 23px;
      right: 0;
    }
  }
  &__menu_mobile {
    display: none;
    &-list {
      &:active {
        background-color: #E5E5E5;
      }
    }
    &-link {
      text-transform: uppercase;
      color: #4E4E4E;
      font-size: 11px;
      font-weight: 400;
      line-height: 22px;
      padding: 5px 0 5px 13px;
      display: inline-block;
      width: 100%;
      &.active {
        color: #57A4A4
      }
      &:hover {
        background-color: #A3A3A3A3;
      }
    }
    @media (max-width: 767px) {
      display: block;
      position: absolute;
      width: 182px;
      top: 60px;
      right: 0;
      background-color: #F5F5F5;
      transform: translateX(100%);
      transition: transform .3s ease-in-out;
    }
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 767px) {
  .header__burger-toggler.active .header__burger-toggler__line:nth-child(1) {
    right: 12px;
    top: 10px;
    transform: rotate(45deg);
  }
  .header__burger-toggler.active .header__burger-toggler__line:nth-child(2) {
    opacity: 0;
  }
  .header__burger-toggler.active .header__burger-toggler__line:nth-child(3) {
    transform: rotate(-45deg);
    top: 22px;
    right: 12px;
  }
  .header__menu_mobile.active {
    transform: translateX(0);
  }
  .header__image {
    margin: 83px auto 38px auto;
  }
}


